<html>
    <head>
        <title>Document Query</title>
        <style>
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
            }
        </style>
    </head>
    <body>
        <table>

        </table>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <br></br>
            <input type="file" name="pdf_file">
            <br></br>
            <input type="text" name="text_box">
            <br></br>
            <input type="submit" value="Upload PDF">
        </form>
    </body>
</html>


  